<& lib/header.mas,      title   => 'Player Bios'        &>
<& lib/leftbar.mas,     page_id => 'bios'               &>
<& lib/page_header.mas, text    => 'Meet the Squad'     &>

<%perl>
my @players = (
	{
		name	=> "Steve 'Foca' McDonnell",
		number	=> 2,
		photo	=> 'foca_sand.jpg',
		info	=> '',
		years	=> [ qw(2010 2011 2012)],
	},
	{
		name	=> "Evan 'softie' Vald&eacute;s",
		number	=> 3,
		photo	=> 'eyore.jpg',
		info	=> '',
		years	=> [ qw(2010 2011)],
	},
	{
		name	=> "Kief 'Fanta' Zangaro",
		number	=> 7,
		photo	=> 'kief_lookin_good.jpg',
		info	=> '',
		years	=> [ qw(2010 2011 2012)],
	},
	{
		name	=> "Chad Underwood",
		number	=> 10,
		photo	=> 'tank_and_chad.jpg',
		info	=> '',
		years	=> [ qw(2010 2011 2012)],
	},
	{
		name	=> "Barrs Lang",
		number	=> 11,
		photo	=> 'barrs_pow.jpg',
		info	=> '',
		years	=> [ qw(2010 2011 2012)],
	},
	{
		name	=> "Doug Galbraith",
		number	=> 14,
		photo	=> 'doug.jpg',
		info	=> '',
		years	=> [ qw(2010 2011)],
	},
	{
		name	=> "Scott Hills",
		number	=> 20,
		photo	=> 'scott_pretty.jpg',
		info	=> '',
		years	=> [ qw(2010 2011 2012)],
	},
	{
		name	=> "Trey Paulissen",
		number	=> 22,
		photo	=> 'trey_boa.jpg',
		info	=> '',
		years	=> [ qw(2010 2011 2012)],
	},
	{
		name	=> "Samuel 'Hammie' Chen",
		number	=> 24,
		photo	=> 'hammie.jpg',
		info	=> '',
		years	=> [ qw(2011 2012)],
	},
	{
		name	=> "Peter 'Tank' Tanaka",
		number	=> 34,
		photo	=> 'tank_and_chad.jpg',
		info	=> '',
		years	=> [ qw(2010 2011 2012)],
	},
	{
		name	=> "Andrew 'Spaz' Grangaard",
		number	=> 36,
		photo	=> 'spaz_defense.jpg',
		info	=> '',
		years	=> [ qw(2010 2011 2012)],
	},
	{
		name	=> 'Brett Schellenberg',
		number	=> 42,
		photo	=> 'brett_cape.jpg',
		info	=> '',
		years	=> [ qw(2010 2011 2012)],
	},
	{
		name	=> "Charles 'Stone' Agnello",
		number	=> 43,
		photo	=> 'stone.jpg',
		info	=> '',
		years	=> [ qw(2010 2011 2012)],
	},
	{
		name	=> "Matt Frantz",
		number	=> 58,
		photo	=> 'frantz_gladiator.jpg',
		info	=> '',
		years	=> [ qw(2010)],
	},
	{
		name	=> "Andy Hutchinson",
		number	=> 68,
		photo	=> 'hutch_pink.jpg',
		info	=> '',
		years	=> [ qw(2010 2011)],
	},
	{
		name	=> "John 'Zeff' Zyphur",
		number	=> 70,
		photo	=> 'zeff_cranky.jpg',
		info	=> '',
		years	=> [ qw(2010 2011 2012)],
	},
	{
		name	=> 'Alan Marquardt',
		number	=> 73,
		photo	=> 'alan_ladies.jpg',
		info	=> '',
		years	=> [ qw(2010 2011 2012)],
	},
	{
		name	=> "Simon Margiolis",
		number	=> '',
		photo	=> 'simon-superman.jpg',
		info	=> '',
		years	=> [ qw(2010)],
	},
	{
		name	=> "Matt Henessey",
		number	=> '' ,
		photo	=> 'matt.jpg',
		info	=> '',
		years	=> [ qw(2010 2011)],
	},
	{
		name	=> "Mark Hartford",
		number	=> '',
		photo	=> 'mark_argyle.jpg',
		info	=> '',
		years	=> [ qw(2011)],
	},
	{
		name	=> "Eli Menaker",
		number	=> '',
		photo	=> 'eli_disc.jpg',
		info	=> '',
		years	=> [ qw(2011 2012)],
	},
	{
		name	=> "Mick Grier",
		number	=> '',
		photo	=> 'mick_mountain.jpg',
		info	=> '',
		years	=> [ qw(2011)],
	},
	{
		name	=> "Will Harris",
		number	=> '',
		photo	=> 'will_hair.jpg',
		info	=> '',
		years	=> [ qw(2011)],
	},
	{
		name	=> "Zach Rank",
		number	=> '',
		photo	=> 'zach.jpg',
		info	=> '',
		years	=> [ qw(2011)],
	},
);
</%perl>

% foreach my $year (qw(2012 2011 2010)) {
<ul><a name='<%$year%>'><%$year%></a>
%	foreach my $player (@players) {
<% (grep {$_ == $year}@{$player->{years}}) ? "<li>#$player->{number} <a href=\"#$player->{name}\"> $player->{name}</a>" : '' %>
%	}
</ul>
% }

<hr>
<div id="photos">
% foreach my $player (@players) {
	<p class=photo><a name="<% $player->{name} %>">
	<img src="<% $player->{photo} ? "photos/$player->{photo}" : "images/logo_white_on_purple.jpg" %>" 
		alt="<% $player->{name} %>" 
		title="<% $player->{name} %>" 
	> <br />
	<% $player->{name} %>
	</p>
%}
</div>
<& lib/footer.mas &>
