<& lib/header.mas,      title   => 'Hip Huck Team Bios' &>
<& lib/leftbar.mas,     page_id => 'bios'               &>
<& lib/page_header.mas, text    => 'Meet the Squad'     &>

<%perl>
my @photos = (
	Hippo   => [qw( hippo-bigmouth.jpg   )],
	Simon   => [qw( simon-superman.jpg   )],
	Brett   => [qw( brett_cape.jpg       )],
	Eyore   => [qw( eyore.jpg            )],
	Foca    => [qw( foca_sand.jpg        )],
	Frantz  => [qw( frantz_gladiator.jpg )],
	Zeff    => [qw( zeff_cranky.jpg      )],
	Kief    => [qw( kief_lookin_good.jpg )],
	Matt    => [qw( matt.jpg             )],
	Stone   => [qw( stone.jpg            )],
	Spaz    => [qw( spaz_defense.jpg     )],
);
</%perl>
% while (my ($name, $photo )=splice(@photos, 0 ,2)) {
	<p><h2> <% $name %></h2>
% 	foreach my $image (@$photo ){
	<img src="photos/<% $image %>" 
		alt="<% $name %>" 
		title="<% $name %>" 
	>
%	}
	<br>
%}

<& lib/footer.mas &>
