<& lib/header.mas, title => "Photos" &>
<& lib/leftbar.mas, page_id=>'photos' &>
<& lib/page_header.mas, text => "Happy Shiny Hippos having Fun" &>
<%perl>
my @photos = (
	{ file => "hippos_reunite.jpg",   caption => "Chad's in town" },
	{ file => "winter_dude_2010.jpg", caption => "Hippos lead Antarctic Freeze to victory in San Diego's winter league finals" },
	{ file => "freshly_squeezed.jpg", caption => "Freshly Squeezed Hippos" },
);
</%perl>
% foreach my $photo (@photos){
	<p class=photo>
	<img src="photos/<% $photo->{file} %>"
		alt="<% $photo->{caption} %>"
		title="<% $photo->{caption} %>"
	> <br />
	<% $photo->{caption} %>
	</p>
%}

<& lib/footer.mas &>
