<& lib/header.mas, title => "Photos" &>
<& lib/leftbar.mas, page_id=>'photos' &>
<& lib/page_header.mas, text => "Happy Shiny Hippos Having Fun" &>
<%perl>
my @photos = (
	{ file => "freshly_squeezed.jpg", caption => "Freshly Squeezed Hippos" },
	{ file => "hippos_huddle.jpg", caption => "Frantz, give us a cheer" },
	{ file => "hippos_heckle.jpg", caption => "Wop wop wop wop pow pow pow wop wop wop SHAZAM" },
	{ file => "winter_dude_2010.jpg", caption => "Hippos lead Antarctic Freeze to victory in San Diego's winter league finals" },
	{ file => "hippos_reunite.jpg",   caption => "Barrs' going away party" },
);
</%perl>
<div id="photos">
% foreach my $photo (@photos){
	<p class=photo>
	<img src="photos/<% $photo->{file} %>"
		alt="<% $photo->{caption} %>"
		title="<% $photo->{caption} %>"
	> <br />
	<% $photo->{caption} %>
	</p>
%}
</div>
<& lib/footer.mas &>
